* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #363636;
}

.container {
    height: 100vh;
}

.top-section {
    height: 7%;
    background-color: #172719;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-section ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
}

.top-section ul li {
    font-size: 1.05rem;
    color: #ffffff;
    cursor: pointer;
}

.top-section ul li:hover {
    color: #79e686;
}

section {
    height: 100%;
}

.hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
    position: relative;
    padding: 3em;
}

.hero-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    filter: brightness(80%);
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 2;
}

.hero-content h1 {
    width: 70%;
    font-size: 3rem;
}

.hero-content p {
    width: 50%;
    font-size: 1.3rem;
    margin: 1.8em 0;
}

.hero-content button {
    font-size: 1.3rem;
    padding: 1em 3em;
    background-color: #336e3c;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.hero-content button a {
    color: #ffffff;
    text-decoration: none;
}

.hero-content button:hover {
    background-color: #459651;
    transform: translateY(-3px);
}

.contact-section {
    background: #f6f6f7;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-section h2 {
    font-size: 2.7rem;
    margin-top: 1em;
}

.contact-section form {
    width: 35%;
    padding: 2em;
    background-color: #ffffffe1;
    display: flex;
    flex-direction: column;
    margin-top: 7em;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

form label {
    font-size: 1.1rem;
    font-weight: 650;
}

form input,
textarea {
    border: 1px solid #16161663;
    border-radius: 5px;
    transition: all ease 0.5s;
}

form input {
    padding: 1.1em;
    margin: 1em 0 2em 0;
    font-size: 0.9rem;
}

form textarea {
    padding: 0.7em 1em;
    margin: 1em 0 5em 0;
    font-size: 0.99rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: none;
}

form input:hover,
textarea:hover {
    border: 1.5px solid #54b863;
    background-color: #f3f3f3c2;
}

form button {
    padding: 0.7em;
    font-size: 1.38rem;
    font-weight: 550;
    background-color: #336e3c;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all ease 0.3s;
}

form button:hover {
    background-color: #459651;
    transform: translateY(-2.5px);
    color: #ffffff;
}

footer {
    background-color: #172719;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5em;
}

footer .social-links a i {
    font-size: 1.3rem;
    color: #ffffff;
    transition: all ease 0.3s;
}

footer .social-links a i:hover {
    color: #79e686;
    transform: translateY(-2px);
}

footer p {
    font-size: 1.03rem;
    color: #ffffff;
    margin-top: 1em;
}


/* Responsiveness */
/* 1. Mobile */
@media (max-width: 600px) {
    .hero-content h1 {
        width: 90%;
        font-size: 2.5rem;
    }

    .hero-content p {
        width: 98%;
        font-size: 1.31rem;
        margin: 2em 0;
    }

    .contact-section form {
        width: 90%;
        margin-top: 5em;
    }
}

/* 2. Tablet */
@media (min-width: 601px) and (max-width: 900px) {
    .hero-content h1 {
        width: 85%;
        font-size: 2.4rem;
    } 

    .hero-content p {
        width: 90%;
        font-size: 1.34rem;
    }

    .contact-section form {
        width: 80%;
        margin-top: 6em;
    }
}

/* 3. Laptop */
@media (min-width: 901px) and (max-width: 1200px) {
    .contact-section form {
        width: 45%;
        margin-top: 8em;
    }
}
